{% extends "cmsapp/base.html" %}
{% load i18n %}
{% block title %}[adding new page]{% endblock %}
{% block body %}
    <form method="post" action="{% url 'cmsapp:change' %}">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit"> {% trans "Save" %} </button>
    </form>
{% endblock %}