<!DOCTYPE html><html><head>
<title>{% block title %}No title{% endblock %}</title></head>
<body>
<style>
    body     { padding-right: 10em; }
.sidebar { position: absolute;
           top: 0; right: 0; bottom: 0;
           width: 10em;
           border-left: 5px solid gray;
           padding-left: 5px; }
</style>
{% load i18n %}

{% if request.user.is_authenticated %}
    <a href="{% url 'auth:logout' %}">Logout</a> |
    <a href="{% url 'auth:password_change' %}">Change password</a>
{% else %}
    <a href="{% url 'auth:login' %}">Login</a> |
    <a href="{% url 'auth:password_reset' %}">Reset password</a>
{% endif %}

{% block body %}
{% endblock %}</body> </html>