 {% if tags %}
 {% load i18n %}
<p> {% trans "By tag:" %}
    {% for tag in tags %}
    <a href="{% url 'cmsapp:index' tag.name %}">
        {{ tag.name }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
</p>
{% endif %}