{% extends "cms/base.html" %}
{% load i18n %}
{% block title %}{{ page.title }} [editing]{% endblock %}

{% block body%}
    <form method="post" action="{% url 'cmsapp:edit' page.slug %}">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit">Save</button>
    </form>
{% endblock %}