{% extends "cmsapp/base.html" %}
{% load i18n %}
{% block title%} {% endblock %}
{% block body %}

{% include "cmsapp/by_tag.html" %}

    {% for page in pages %}
    <li> <a href="{% url 'cmsapp:page' page.slug %}"> {{ page.title }} </a>

    </li>
    {% empty %}
    No pages yet!
    {% endfor %}


    <a href="{% url 'cmsapp:change'%}"> Add </a>

{% endblock %}