{% extends "cmsapp/base.html" %}

{% load i18n %}

{% block title%} {% endblock %}
{% block body %}

{% include "cmsapp/by_tag.html" %}

    {% for page in object_list %}
    <li> <a href="{% url 'cmsapp:page' page.slug %}"> {{ page.title }} </a>

    </li>
    {% empty %}
    {% trans "No pages yet!" %}
    {% endfor %}


    <a href="{% url 'cmsapp:change'%}"> {% trans "Add" %} </a> <br>


        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a> |
        {% endif %}

       {% trans "page" %} {{ page_obj.number }} {%trans "of" %} {{ paginator.num_pages }}

        {% if page_obj.has_next %}
        | <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}


{% get_current_language as current_lang %}
<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    {% get_available_languages as available %}
    {% get_language_info_list for available as languages %}
    {% for lang in languages %}
        {% if lang.code != current_lang %}
            <button type="submit"
                    value="{{ lang.code }}"
                    name="language">{{ lang.name_local }}</button>
        {% else %}
            <button disabled
                    value="{{ lang.code }}"
                    name="language">{{ lang.name_local }}</button>
        {% endif %}
        {% if forloop.revcounter0 %} |{% endif %}
    {% endfor %}
</form>


{% endblock %}