{% extends "cmsapp/base.html" %}
{% load i18n %}
{% block title%} {{ page.title }} {% endblock %}
{% block body %}

    {% if sidepage %}
    <div class="sidebar">
    <h2>{{ sidepage.sidebar_title }}</h2>
    <ul>
        {% for item in sidepage.sidebar_items.all %}
        <li>{{ item.content }}</li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}


<a href="{% url 'cmsapp:change' page.slug %}"> <h1> {{ page.content }} </h1> </a>
    <br>
    <form method="post" action="{% url 'cmsapp:page' page.slug %}">
        {% csrf_token %}
        <!-- {{ form }} -->
        <button type="submit"> {% trans "delete" %} </button>
    </form>

    {% include "cmsapp/by_tag.html" %}
{% endblock %}