{% extends "cmsapp/base.html" %}
{% load i18n %}
{% block title%} {{ page.title }} {% endblock %}
{% block body %}
    <a href="{% url 'cmsapp:change' page.slug %}"> {{ page.content }} </a>
    <br>
    <form method="post" action="{% url 'cmsapp:page' page.slug %}">
        {% csrf_token %}
        {{ form }}
        <button type="submit"> Delete </button>
    </form>

    {% include "cmsapp/by_tag.html" %}
{% endblock %}