{% extends "cmsapp/base.html" %}
{% load i18n %}


{% block title %}
    {% if page %}
        {{ page.title }} [editing]
    {% else %}
        [adding new page]
    {% endif %}
{% endblock %}


{% block body%}
    <form method="post">
        {% csrf_token %}
        <table>{{ form.as_table }}</table>
        <button type="submit"> {% trans "save" %}</button>
    </form>
{% endblock %}