{% load formset_tags %}


<form method=post>
    {% csrf_token %}
    <table>{{ form.as_table }}</table>
    {% if formset %}
        {{ formset.media }}
        <blockquote id="formset" data-formset-prefix="{{ formset.prefix }}">
        {{ formset.management_form }}
        <div data-formset-body>
        {% for form in formset %}
            <div data-formset-form>
                <table>{{ form.as_table }}</table>
            </div>
        {% endfor %}
        </div>
        <script type="form-template" data-formset-empty-form>{% escapescript %}
            <div data-formset-form>
                <table>{{ formset.empty_form }}</table>
            </div>
        {% endescapescript %}</script>
            {% endif%}
    <input type="button" value="Add another" data-formset-add>
    <script>jQuery(function($) {
        $("#formset").formset();
    });</script>
</blockquote>
    <button type="submit">Save</button>
</form>