<!DOCTYPE html><html><head>


<title>{% block title %}No title{% endblock %}</title></head>
<body>



{% if request.user.is_authenticated %}
    <a href="{% url 'auth:logout' %}">Logout</a> |
    <a href="{% url 'auth:password_change' %}">Change password</a>
{% else %}
    <a href="{% url 'auth:login' %}">Login</a> |
    <a href="{% url 'auth:password_reset' %}">Reset password</a>
{% endif %}

{% block body %}

{% endblock %}</body> </html>